---
import Footer from "@/components/commons/Footer.astro";
import Gnb from "@/components/commons/gnb.astro";
import "@styles/global.css";
interface Props {
  title?: string;
  description?: string;
  ogType?: string;
  ogImage?: string;
}

const { title, description, ogType, ogImage } = Astro.props;
Astro.props;
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content={ogType || "website"} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={Astro.url.href} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <title>Loopy's Blog | {title}</title>
  </head>
  <body
    class="bg-white text-gray-900 antialiased dark:bg-gray-900 dark:text-gray-100"
  >
    <Gnb />
    <main id="swup" class="transition-fade">
      <div class="py-18"></div>
      <div class="mx-auto min-h-[calc(100vh-18rem)] max-w-5xl px-4">
        <slot />
      </div>
    </main>
  </body><Footer />

  <style is:global>
    html {
      scroll-behavior: smooth;
    }
    main.transition-fade {
      transition: opacity 0.4s;
      opacity: 1;
    }
    html.is-animating main.transition-fade {
      opacity: 0;
    }
  </style>
</html>
